<ng-container *ngIf="visible">
  <div id="main-overlay-cont" *ngIf="visible" [class.navigator-active]="navigatorOverlayVisible" @flipInOut>

    <div id="navigator-overlay-cont" *ngIf="navigatorOverlayVisible" @slideFromTop>
      <app-navigator-overlay [selectedMonth]="dayGridManager.getDisplayedMonth()"
                             (selectedMonthChange)="dayGridManager.displayMonth($event)"
                             [(visible)]="navigatorOverlayVisible">
      </app-navigator-overlay>
    </div>

    <div id="dt-picker-cont">
      <div id="header">
        <div id="left-navigator-cont">
          <i (click)="showPrevYear()" class="material-icons navigator-button">fast_rewind</i>
          <i (click)="showPrevMonth()" class="material-icons navigator-button">navigate_before</i>
        </div>
        <div id="mode-switch-cont" class="flex-centered">
          <span id="mode-switch-button" (click)="toggleNavigationOverlay()">
            <label>{{dayGridManager.getDisplayedMonth() | date: "MMM yyyy"}}</label>
            <i *ngIf="navigatorOverlayVisible" class="material-icons">keyboard_arrow_up</i>
            <i *ngIf="!navigatorOverlayVisible" class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
        <div id="right-navigator-cont">
          <i (click)="showNextMonth()" class="material-icons navigator-button">keyboard_arrow_right</i>
          <i (click)="showNextYear()" class="material-icons navigator-button">fast_forward</i>
        </div>
      </div>

      <div id="body" (mousewheel)="handleMouseWheelOnBody($event)">
        <div id="week-day-cont">
          <div class="week-day-cell" *ngFor="let weekDay of weekDayNames">
        <span class="cell-content">
          <label>{{weekDay}}</label>
        </span>
          </div>
        </div>
        <div id="month-day-cont" [@fadeOutIn]="changeState">
          <div class="month-day-cell"
               *ngFor="let monthDayGrid of dayGridManager.gridsToDisplay"
               [class.disabled-cell]="!monthDayGrid.isFromDisplayedMonth"
               [class.weekend-cell]="monthDayGrid.isWeekEnd"
               [class.selected-cell]="monthDayGrid.isSelected"
               (click)="handleDateSelect(monthDayGrid)">
            <div class="cell-content">
              <label>{{monthDayGrid.date}}</label>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <span id="date-footer" *ngIf="dateFooterVisible" @spinInOut>
          <span class="footer-control-cont">
            <span class="footer-button" (click)="clear()">Clear</span>
            <span class="footer-button" (click)="showThisMonth()">Today</span>
            <span class="footer-button" [class.disabled]="!hasSelected()" (click)="showSelectedMonth()">Selected</span>
          </span>
          <span class="footer-change-button footer-button" (click)="changeFooter()" *ngIf="timePicker" @fadeOutIn>
            <i class="material-icons" *ngIf="dateFooterVisible">access_time</i>
          </span>
        </span>
        <span id="time-footer" *ngIf="timeFooterVisible" @spinInOut>
          <span class="footer-control-cont">
            <app-time-picker [initialTime]="selectedTime" (onTimeChange)="handleTimeChange($event)"></app-time-picker>
          </span>
          <span class="footer-change-button footer-button" (click)="changeFooter()" *ngIf="timePicker" @fadeOutIn>
            <i class="material-icons">date_range</i>
          </span>
        </span>
      </div>

    </div>
  </div>
</ng-container>
