<div id="main-cont">
  <div id="year-chooser-cont" (mousewheel)="handleScroll($event)">
    <input id="yearInput" (keydown)="handleInputKeyDown($event)" [(ngModel)]="selectedYear">
    <div id="spinner-cont">
      <i (click)="incrementYear()" class="material-icons navigator-button">arrow_drop_up</i>
      <i (click)="decrementYear()" class="material-icons navigator-button">arrow_drop_down</i>
    </div>
  </div>
  <hr id="year-month-separator">
  <div id="month-chooser-cont">
    <div class="month-grid" *ngFor="let monthGrid of monthList" [class.selected-month]="monthGrid.isSelected" (click)="handleSelection(monthGrid)">
      <label>{{monthGrid.label}}</label>
    </div>
  </div>
</div>
