// Main color variables
$primaryBgColor: rgb(20, 180, 20);
$secondaryBgColor: rgb(30, 215, 30);
$primarySelectionColor: gold;
$secondarySelectionColor: cornflowerblue;
$primaryTextColor: black;
$secondaryTextColor: beige;

// Button background and border colors
$buttonBgColor: transparent;
$buttonBorderColor: transparent;
$buttonHoverBgColor: mix($primaryBgColor, $primarySelectionColor);
$buttonHoverBorderColor: transparentize($primaryTextColor, .2);
$buttonActiveBgColor: darken(mix($primaryBgColor, $secondaryBgColor), 15);
$buttonActiveBorderColor: $primaryTextColor;

// Layer definitions
$bottomLayer: 100;
$midLayer: 101;
$topLayer: 102;

$quickTransition: all .2s;

@mixin border-radius($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin side-padding($amount) {
  padding-left: $amount;
  padding-right: $amount;
}

%button {
  @include border-radius(.4em);
  background-color: $buttonBgColor;
  border: .08em solid $buttonBorderColor;
  z-index: $topLayer;
  &:hover {
    background-color: $buttonHoverBgColor;
    border-color: $buttonHoverBorderColor;
  }
  &:active {
    background-color: $buttonActiveBgColor;
    border-color: $buttonActiveBorderColor;
  }
}

%coveredTopLayerButton {
  transition: $quickTransition;
  background-color: darken($primaryBgColor, 15);
  border-color: $primaryTextColor;
  &:hover {
    background-color: darken($buttonHoverBgColor, 10);
    border-color: $primaryTextColor;
  }
  &:active {
    background-color: darken(mix($primaryBgColor, $secondaryBgColor), 25);
    border-color: $primaryTextColor;
  }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
