//@import "colors/deep-purple-pink";
@import "colors/green-yellow";
//@import "colors/indio-cyan";
//@import "colors/light-blut-green";
//@import "colors/dark-green";
//@import "colors/dark-blue";
//@import "colors/cyan-yellow";
//@import "colors/blue-grey";
//@import "colors/teal-amber";
//@import "colors/blue-amber";

// Layer definitions
$bottomLayer: 100;
$midLayer: 101;
$topLayer: 102;

$quickTransition: all .3s;

@mixin border-radius($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin side-padding($amount) {
  padding-left: $amount;
  padding-right: $amount;
}

%button {
  @include border-radius(.4em);
  background-color: $buttonBgColor;
  z-index: $topLayer;
  color: $secondaryTextColor;
  font-weight: bold;
  &:hover {
    background-color: $buttonHoverBgColor;
    color: $primaryTextColor;
  }
  &:active {
    background-color: $buttonActiveBgColor;
  }
}

%coveredTopLayerButton {
  transition: $quickTransition;
  background-color: darken($primaryBgColor, 15);
  border-color: $primaryTextColor;
  &:hover {
    background-color: darken($buttonHoverBgColor, 10);
    border-color: $primaryTextColor;
  }
  &:active {
    background-color: darken(mix($primaryBgColor, $secondaryBgColor), 25);
    border-color: $primaryTextColor;
  }
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
