@import "date-time-picker-common";

#body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: transparentize(whitesmoke, .1);
  @include border-radius(.4em);
  height: fit-content;
  z-index: $bottomLayer;
}

%day-cont {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-column-gap: 0;
}

#week-day-cont {
  @extend %day-cont;
  grid-template-rows: auto;
  border: .08em solid transparent;
  border-bottom-color: rgba(0, 0, 0, .2);
  border-radius: 0.4em;
  background-color: $primarySelectionColor;
}

#month-day-cont {
  @extend %day-cont;
  height: fit-content;
  flex-grow: 1;
  grid-template-rows: repeat(5, auto);
}

%day-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  @include border-radius(.45em);
  border: 1px solid transparent;
}

.cell-content {
  @include border-radius(0.45em);
  @extend .flex-centered;
  min-width: 1.6em;
  min-height: 1.6em;
  border: .08em solid transparent;
  transition: 200ms all;
}

.week-day-cell {
  @extend %day-cell;
}

.month-day-cell {
  @extend %day-cell;
  @extend %button;
  font-weight: normal;
  color: $primaryTextColor;
}

.selected-cell {
  .cell-content {
    background-color: transparentize($primarySelectionColor, .4);
    color: $primaryBgColor;
    font-weight: bolder;
  }
}

.disabled-cell {
  label {
    opacity: .3;
  }
  &:hover {
    border: none;
    background-color: inherit;
  }
  label:hover {
    background-color: inherit;
  }
}

.weekend-cell {
  color: rgb(200, 0, 0)
}
