@import "date-time-picker-common";

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.4em;
  padding-top: .3em;
}

.footer-button {
  @extend %button;
  @extend .flex-centered;
  padding: .15em .6em;
}

.navigator-active {
  .footer-button {
    @extend %coveredTopLayerButton;
  }
}

#time-footer, #date-footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  @include border-radius(1em);
}

.footer-control-cont {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.footer-change-button {
  @extend .flex-centered;
  position: absolute;
  right: 1em;
  z-index: $topLayer;
  //margin-left: .4em;
}
