@import "date-time-picker-common";

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  padding-top: .3em;
}

.footer-button {
  @extend %button;
  @extend .flex-centered;
  padding: .15em .6em;
  &:hover {
    i {
      color: $primaryTextColor;
    }
  }

  i {
    font-size: 140%;
    color: $primarySelectionColor;
  }
}

.navigator-active {
  .footer-button {
    @extend %coveredTopLayerButton;
  }
}

#time-footer, #date-footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  @include border-radius(1em);
}

.footer-control-cont {
  flex-grow: 1;
  @extend .flex-centered;
  .footer-button {
    margin-left: .1em;
    margin-right: .1em;
    border: none;
  }
}

.footer-change-button {
  @extend .flex-centered;
  position: absolute;
  padding: .2em;
  margin-right: .36em;
  border: none;
  right: 0;
  z-index: $topLayer;
}
