@import "date-time-picker-common";

#header {
  @extend .flex-centered;
  padding-bottom: .25em;
  height: 2.1em;
  flex-direction: row;
  i {
    font-size: 120%;
  }
}

#mode-switch-button {
  @extend .flex-centered;
  @extend %button;
  z-index: $topLayer;
  padding: .16em;
  i {
    font-size: 130%;
  }
}

%navigator-cont {
  z-index: $topLayer;
  display: flex;
  flex-grow: 0;
  align-items: center;
  @include side-padding(.4em);
  *:first-child {
    margin-right: .4em;
  }
  i {
    @include side-padding(.45em);
    @include border-radius(.35em);
  }
}

#left-navigator-cont {
  @extend %navigator-cont;
  justify-content: flex-start;
}

#right-navigator-cont {
  @extend %navigator-cont;
  justify-content: flex-end;
}

.navigator-button {
  @extend %button;
  //font-size: 140%;
  transition: $quickTransition;
}

.icon-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#mode-switch-cont {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navigator-active {
  .navigator-button, #mode-switch-button {
    @extend %coveredTopLayerButton;
  }
}
